
@{
    Layout = null;
}

<h3>MVC kamp tablo örneği - Kategori</h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Evden Eve Nakliyat</td>
        <td>Ev eşyalarının güvenli bir şekilde bir yerden başka bir yere taşınması hizmeti</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ofis ve İşyeri Taşımacılığı</td>
        <td>Ofis ve iş yeri ekipmanlarının, mobilyalarının ve belgelerinin taşınması hizmeti</td>
        <td>True</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Ağır ve Hassas Yük Taşımacılığı</td>
        <td>Büyük, ağır ve hassas eşyaların dikkatli bir şekilde taşınması hizmeti</td>
        <td>True</td>
    </tr>
</table>


